*.class
pom.xml
*.jar
*.war
*.ear
hs_err_pid*
/target/
/classes/
/out/
.idea/*
*.iml
*.DS_Store
/.java-version

# Eclipse
.classpath
.project
.settings/
 

# Maven
log/
target/
src/main/resources/hibernateContext.xml
src/main/resources/hibernateContext.xml
src/test/resources/test-hibernateContext.xml
