.titulo-cartelera{
    font-weight: bolder;
}
.btn-filtrar{
background-color: #D81438;
margin-left: 1em;

}

.body-cartelera{
background-color: #232222;

}
main{
 margin-bottom: 20em;
}
.chip{
    display: inline-flex;
    flex-direction: row;
    background-color: #D81438;
    border: none;
    cursor: default;
    height: 36px;
    outline: none;
    padding: 0;
    font-size: 14px;
    font-color: #333333;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
    margin-left: 1em;

}

.chip-content{
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 400;
}
.chip-svg{
        color: #999999;
    cursor: pointer;
    height: auto;
    margin: 1px 4px 0 -8px;
  fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}
.chip-svg:hover{
    color: #666666;
}
.pelicula{
	width:100%;
	height:100%;
	object-fit:cover;
}


  .fotoFondo{
    height: 260px;
    
  }
 .fila {
  display: flex;
  margin: 2em 3em 40px;
}
.estrellas{
	width:100px;

}
.jrating .jrating-over{
	opacity:1 !important;
}
.tile {
  
  min-width: 200px;
  height: 300px;
 /* background-color: #9d0208;*/
  color: white;
  font-size: 20px;
  transition: transform 500ms, opacity 500ms;
  transform-origin: 50% 50%;
  position: relative;
}

.overlay {
  background-color: #9d0208;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms;
  position: absolute;
  top: 0;
  color: white;
}
.informacionPeli{
	background-color:#1a1a1a;
	height:100px;
	display:none !important;
	
}

.tile:hover {
  transform: scale(1.5);
}
.tile:hover .informacionPeli{
	
	display:flex !important;
	
}
.tile:hover .overlay {
  opacity: 1;
z-index:99;

}

.shiftLeft {
  transform: translateX(-50px);
}

.shiftRight {
  transform: translateX(50px);
}

.darker {
  opacity: 0.5;
}
 
.clasificacion,.genero,.duracion,.calificacion,.fechaEstreno{
	font-size:12px;
}
.genero{
	text-align:initial;
}

  #comprarEntradas{
    background-color: #A60B2A;
    width:300px;
  }

  #modal-footer,#modal-header{
    background-color: #222121;
  }
  .accordion-button:is(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;    
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.cruz{
  background-color: white !important;
}