.body-home{
	background-color: #232222;
}
.rating-container .cover{
	width: 100px;
    height: 25px;
    position: absolute;
}
.etiquetaDescripcion{
	font-size:10px;	
}

.contenedorProximamente{
width:200px;	
background-color:#000000;
}
.informacionProximamente{
	background-color: #A60B2A;
	width:300px;
}