@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a-calif{
    text-decoration: none;
    color: #678;
}
.a-calif:hover{
    color: #678;
}
.fa{
    font-size: 20px;
    width: 30px;
    height: 30px;
    color: #9ab;
}
.boton-calif{
    width: 74px;
    height: 38px;
    position: relative;
    top: 2px;
}
.calif-subtitulo{
    color: #9ab;
}
.calif-subtitulo:hover{
    color: #9ab;
    background-color: #283038;
    border-radius: 3px;
    display: inline-block;
}
.clasif-borde{
    background: #283038;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 5%);
    color: #9ab;
    display: inline-block;
    line-height: 1.5;
    padding: 3px 6px;
    white-space: nowrap;
}

.container-rating{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-wrap{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.center-rating{
    margin-left: 25px;
}

.rating{
    border: none;
    float: left;
}

.rating > input{
    display: none;
}/*
.fa:hover,
.fa:hover ~ label {
    color: rgb(245, 197, 24);
}

input[type="radio"]:checked ~ .fa {
    color: rgb(245, 197, 24);
}*/

.rating > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

.rating > .half:before{
    content: '\f089';
    position: absolute;
    cursor: pointer;
}


.rating > label{
    color: #ddd;
    float: right;
    cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
    color: rgb(245, 197, 24);
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
    color:rgb(245, 197, 24);
}
